*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
form {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    position: absolute;
    left: 600px;
    top: 300px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  